.FrameDataTable__table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 1000px;
}

.FrameDataTable__table td {
  padding: 0px;
}

.FrameDataTable__table th, td {
  border: 1px solid black;
}

.Overall-frame__container {
  display: flex;
}

.FrameData__table-th--name {
  width: 10%;
}

.FrameData__table-th--command {
  width: 5%;
}

.FrameData__table-th--number {
  width: 5%;
}

.FrameData__table-th--overall {
  width: 20%;
}

.FrameData__table-td--number {
  text-align: right;
}

.FrameData__table-span--generate {
  background-color: aqua;
}

.FrameData__table-span--continuous {
  background-color: orange;
}

.FrameData__table-span--stiffness {
  background-color: red;
}